#history li:hover {
        background-color: lightgray;
        cursor: pointer;}

.form-inline {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.form-group {
  margin-right: 10px;
}

.error-list {
  color: red;
  margin-top: 5px;
}