{% extends "base.html" %}
{% block title %}
Новая продажа
{% endblock %}
{% block content %}
<form method="POST" action="{% url 'add_sale' %}">
    {% csrf_token %}
    <div>
        <label>{{ form.notice.label }}</label>
        {{ form.notice }}
        {% if form.notice.errors %}
            <div class="errors">{{ form.notice.errors }}</div>
        {% endif %}
    </div>
	<div>
        <label>{{ form.total.label }}</label>
        {{ form.total }}
        {% if form.total.errors %}
            <div class="errors">{{ form.total.errors }}</div>
        {% endif %}
    </div>
	<div>
        <label>{{ form.payment.label }}</label>
        {{ form.payment }}
        {% if form.payment.errors %}
            <div class="errors">{{ form.payment.errors }}</div>
        {% endif %}
    </div>

<!--	{{ formset.management_form }}-->
<!--        <table id="form-set">-->
<!--        {% for form in formset %}-->
<!--            <tr class="form-group">-->
<!--                {% for field in form %}-->
<!--                <td>-->
<!--                    {{ field.errors }}-->
<!--                    {{ field.label_tag }} {{ field }}-->
<!--                </td>-->
<!--                {% endfor %}-->
            </tr>
        {% endfor %}
    </table>


</form>


	<form method="POST" action="{% url 'add_sale' %}">
		{% csrf_token %}
    <div class="container-fluid">

	<div class="row">
		<div class="col-md-12">
			<div class="page-header">
				<h1>
					Новая продажа
				</h1>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3">

			<button type="button" class="btn btn-block btn-outline-success">
				Сохранить
			</button>
		</div>
		<div class="col-md-3">
		</div>
		<div class="col-md-3">
		</div>
		<div class="col-md-3">

			<button type="button" class="btn btn-block btn-outline-danger">
				Закрыть
			</button>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">

		</div>
	</div>

	<div class="row">
		<div class="col-md-1">
			<h3>
				151
			</h3>
		</div>
		<div class="col-md-3">
			07.12.2018 12:00:00
		</div>
		<div class="col-md-3">
			Мария  Петрова
		</div>
		<div class="col-md-2">
			20000 руб
		</div>
		<div class="col-md-3">
			Терминал магазина
		</div>
	</div>
	<div class="col-md-12 p-2 bg-light border">
	</div>
	<div class="row">
		<div class="col-md-12">
			<table class="table table-bordered table-hover table-sm">
				<thead>
					<tr>
						<th>
							#
						</th>
						<th>
							Наименование операции
						</th>
						<th>
							Количество
						</th>
						<th>
							Стоимость
						</th>
						<th>
							Сумма
						</th>
					</tr>
				</thead>
				{{ formset.management_form }}
				<tbody>
				{% for form in formset %}
					<tr class="form-group">
						<td>
							1
						</td>
						<td>

        {{ form.operation_name }}
        {% if form.operation_name.errors %}
            <div class="errors">{{ form.operation_name.errors }}</div>
        {% endif %}

						</td>
						<td>
							{{ form.amount }}
        {% if form.amount.errors %}
            <div class="errors">{{ form.amount.errors }}</div>
        {% endif %}
						</td>
						<td>
							{{ form.price }}
        {% if form.price.errors %}
            <div class="errors">{{ form.price.errors }}</div>
        {% endif %}
						</td>
						<td>
							200
						</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
			<div class="row">
				<div class="col-md-12">
				</div>
			</div>
					Description list
					Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.

		</div>
	</div>
</div>
		<button type="button" id="add-form">+</button>
    <button type="submit">Submit</button>
		</form>
<script>

</script>
{% endblock content %}
```