{% extends "base.html" %}
{% block title %}
Новая продажа
{% endblock %}
{% block content %}




    <div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="page-header">
				<h1>
				Продажа № {{sale.id}} от {{sale.date}}
				</h1>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3">

			<button type="button" class="btn btn-block btn-outline-success">
				Сохранить
			</button>
		</div>
		<div class="col-md-3">
		</div>
		<div class="col-md-3">
		</div>
		<div class="col-md-3">

			<button type="button" class="btn btn-block btn-outline-danger">
				Закрыть
			</button>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">

		</div>
	</div>
	<div class="row">
		<div class="col-md-1">
			<h3>

			</h3>
		</div>
		<div class="col-md-3">
		</div>
		<div class="col-md-3">
			<h4>{{ sale.user }}</h4>
		</div>
		<div class="col-md-2">
			{{ sale.total }}
		</div>
		<div class="col-md-3">
			{{ sale.payment }}
		</div>
	</div>
	<div class="col-md-12 p-2 bg-light border">
	</div>
	<div class="row">
		<div class="col-md-12">
			<table class="table table-bordered table-hover table-sm">
				<thead>
					<tr>
						<th>
							#
						</th>
						<th>
							Наименование операции
						</th>
						<th>
							Количество
						</th>
						<th>
							Стоимость
						</th>
						<th>
							Сумма
						</th>
					</tr>
				</thead>
				<tbody>
				<tr>{{ sale.operations.all }}</tr>
				{% for operation in operations %}
					<tr>
						<td>
							  {{ operation.id }}
							 </td>
							 <td>
							  {{ operation.operation_name.name }}
							 </td>
							 <td>
							  {{ operation.amount }}
							 </td>
							 <td>
							  {{ operation.price }}
							 </td>

						<td>
							200
						</td>
					</tr>

					{% endfor %}

				</tbody>
			</table>
			<div class="row">
				<div class="col-md-12">
				</div>
			</div>
					Description list
					Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.

		</div>
	</div>
</div>
<script>
jQuery(document).ready(function($) {
$(document).ready(function() {
    var totalForms = parseInt($('#id_form-TOTAL_FORMS').val());
    var maxForms = parseInt($('#id_form-MAX_NUM_FORMS').val());
    var addButton = $('#add-form');

    function checkTotalForms() {
        if (totalForms >= maxForms) {
            addButton.prop('disabled', true);
        } else {
            addButton.prop('disabled', false);
        }
    }

    checkTotalForms();

    addButton.click(function() {
        var newForm = $($('.form-group')[0]).clone(true);
        newForm.find(':input').each(function() {
            var name = $(this).attr('name').replace('-0-', '-' + totalForms + '-');
            var id = 'id_' + name;
            $(this).attr({'name': name, 'id': id}).val('').removeAttr('checked');
        });
        newForm.find('label').each(function() {
            var newFor = $(this).attr('for').replace('-0-', '-' + totalForms + '-');
            $(this).attr('for', newFor);
        });
        newForm.insertBefore(addButton);
        totalForms++;
        $('#id_form-TOTAL_FORMS').val(totalForms);
        checkTotalForms();
    });
});
});
</script>
{% endblock content %}
```